<div class="container-fluid">
  <div id="layoutSidenav">
    <div id="layoutSidenav_content">
      <form>

        <h1> CADASTRO DE VEICULOS</h1>
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4 mx-2">
          <div class="col">
            <div class="form-outline" [formGroup]= "formCar">
              <label class="form-label" for="form6Example1">Nome</label>
              <input type="text" class="form-control" id="form6Example1" formControlName="nameCar" />
            </div>
          </div>
          <div class="col">           
            <div class="form-outline" [formGroup]= "formCar">
              <label class="form-label" for="form6Example2" >Modelo</label>
              <input type="text" class="form-control" id="form6Example2" formControlName="modelCar" />          
            </div>
          </div>
        </div>

        <div class="row mb-4 mx-2">
          <div class="col">
            <div class="form-outline"[formGroup]= "formCar">
              <label class="form-label" for="form6Example1">Fabricante</label>
              <input type="text" class="form-control" id="form6Example3" formControlName="companyCar" />
            </div>
          </div>
          <div class="col">           
            <div class="form-outline" [formGroup]= "formCar">
              <label class="form-label" for="form6Example2">Data de fabricação</label>
              <input type="text" class="form-control" id="form6Example4" formControlName="dateManufacture"/>  
            </div>
          </div>
          <div class="col">
            <div [formGroup] = "formCar">
              <img
                class="imageObject img-thumbnail pb-2"
                *ngIf="formCar?.get('imageCar')?.value"
                [src]="formCar?.get('imageCar')?.value">
            </div>
            <label class="form-label ml-2" for="form6Example2">Selecionar imagem</label>
            <input
                style="display: none"
                type="file"
                (change)="onFileChanged($event)"
                accept="image/jpg, image/jpeg, image/png"
                #fileInput>

              <button
                class="btn pt-0 botImg mt-2"
                style="font-size: 15px; color: #a0a0a0; width: 80%; background-color: rgb(255, 255, 255);"
                title="Selecionar imagem"
                (click)="fileInput.click()">
                <i class="mr-2" aria-hidden="true"></i>Procurar arquivo
              </button>

          </div>
            
        </div>
      
      
      
        <!-- Message input -->
        <div class="form-outline mb-4 mx-3" [formGroup]="formCar">
          <label class="form-label" for="form6Example7">Descrição: </label>
          <textarea class="form-control" id="form6Example7" rows="4" formControlName="descricao"></textarea>
        </div>
      
      
        <!-- Submit button -->
        <button type="submit" class="btn btn-success btn-block mb-4" (click)="salvarCarros()">Salvar registro</button>
      </form>
      <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
          <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">
              Aplicação teste p FortesTecnologia // Dimitri Almeida
            </div>
            <div>
              <a href="#">Privacy Policy</a>
              &middot;
              <a href="#">Terms &amp; Conditions</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>