<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
  <div class="sb-sidenav-menu">
    <div class="nav mt-4">
      <a
        class="nav-link collapsed"
        routerLink="/home/cadastrar"
        data-toggle="collapse"
        data-target="#collapseLayouts"
        aria-expanded="false"
        aria-controls="collapseLayouts"
      >
        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
        Home
        <div class="sb-sidenav-collapse-arrow">
          <i class="fas fa-angle-down"></i>
        </div>
      </a>
      <a class="nav-link" routerLink= "/home/form">
        <div class="sb-nav-link-icon">
          <i class="fas fa-tachometer-alt"></i>
        </div>
        Registrar Carro
      </a>

      <a class="nav-link" routerLink= "/home/cadastrar">
        <div class="sb-nav-link-icon">
          <i class="fas fa-tachometer-alt"></i>
        </div>
        Atualizar Carro
      </a>

      <a class="nav-link" routerLink= "/home/cadastrar">
        <div class="sb-nav-link-icon">
          <i class="fas fa-tachometer-alt"></i>
        </div>
        Listar Carro
      </a>
      <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapseLayouts"
        aria-expanded="false"
        aria-controls="collapseLayouts"
      >
        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
        Deletar Carro
        <div class="sb-sidenav-collapse-arrow">
          <i class="fas fa-angle-down"></i>
        </div>
      </a>
    </div>
  </div>
  <div class="sb-sidenav-footer">
    <div class="small">Versão 1.0.0</div>
  </div>
</nav>
