<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <h1 class="mt-4">
          Aplicação Utilizando Springboot no Backend & Angular no front.
          (Auxilio de H2 database).
        </h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item active">
            Desenvolvido por Dimitri Almeida.
          </li>
        </ol>
      </div>

    </main>
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">
            Aplicação teste // Dimitri Almeida
          </div>
          <div>
            <a href="#">Privacy Policy</a>
            &middot;
            <a href="#">Terms &amp; Conditions</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
